{
  "presets": [
    "@babel/preset-react"
  ],
  "env": {
    "production": {
      "presets": [
        "@emotion/babel-preset-css-prop"
      ]
    },
    "development": {
      "presets": [
        "@emotion/babel-preset-css-prop",
        {
          "sourceMap": true
        }
      ]
    }
  }
}